* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 40px 0;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #111;
}

form {
    width: 430px;
    background: white;
    margin: auto;
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

label {
    font-weight: bold;
    margin-bottom: 4px;
    display: inline-block;
}


input, select, textarea {
    width: 100%;
    padding: 9px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

textarea {
    height: 90px;
    resize: none;
}


.row {
    display: flex;
    gap: 15px;
}

.col {
    flex: 1;
}

button {
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}